.message-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3px auto;
}

.message-box li {
  background: whitesmoke;
  border-radius: 10px;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.5em;
}

.message-box li:nth-child(even) {
 background: grey;
 color: white;
}