:root {
  --main-bg-color: #fffffe;
  --main-title-color: #094067;
  --main-text-color: #5f6c7b;
  --main-text-hover-color: #094067;
  --main-component-inside-text-color: #fffffe;
  --main-button-bg-color: #3da9fc;
  --main-button-font-color: #fffffe;
  --main-ilustration-hightlight: #3da9fc;
  --secondary-ilustration-color: #90b4ce;
  --tertiary-ilustration-color: #ef4565;
}

html {
  background-color: var(--main-bg-color);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
